<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <style>
        body{
            background-color: #EEEEEE;
        }
        h1{
            color: #4D455D; 
            font-family: 'Poppins', sans-serif;
            font-size: 50px;
            text-align: center;
        }
        .heading{
            padding: 60px;
        }
        .buttons{
            width: 300px;
            margin: 0 auto;
            display: inline;
        }
    </style>
    <title>CrackIt</title>
</head>
<body>
    <div class="heading">
        <h1>Welcome CodeFiesta's CrackIT Team!!</h1>
    </div>
    
    <div class="buttons">
        <a class="btn btn-outline-dark btn-lg" href="/" role="button">Create Quiz</a>
        <a class="btn btn-outline-dark btn-lg" href="/" role="button">View Responses</a>
        <a class="btn btn-outline-dark btn-lg" href="/" role="button">Send Mails</a>
    </div>

</body>
</html>