<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="container mt-5">
        <h1>Sending Mails to the Users</h1>
        <div class="card">
            <div class="card-body" style="text-align: center;">
                <form action="/secret/mails" method="POST">
                    <label for="mail">Enter the email addresses of selected teams: </label>
                    <br>
                    <input type="email" name="mail" placeholder="Enter Mail">
                    <br>
                    <br>
                    <button type="submit" class="btn btn-dark">Add</button>
                </form>
                <form action="/secret/sendMail" method="POST">
                    <button type="submit" class="btn btn-dark">Send Mail</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>