<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Register</title>
    <style>
        body{
            background-color: #EEEEEE;
        }
        h1{
            color: #4D455D; 
            font-family: 'Poppins', sans-serif;
            font-size: 50px;
            text-align: center;
        }
        .heading{
            padding: 60px;
        }
    </style>
</head>
<body>
    <div class="heading">
        <h1>Add Quiz Questions</h1>
    </div>

    <p>Add 2 options 1 for round 1 quiz which will consistes a schema of 6 objects - 1 for question, 4 for options and 1 for correct response.</p>
    <p>For round 2 quiz which will consists a schema of 2 objects - 1 for question 1 for text responses</p>
    
</body>
</html>