<%- include('partials/header') %>

<h1>This page will be for the developers and members of codefiesta</h1>

<p>This page will contain login to access the mails of registered students their responses and their score</p>
<p>will also contain a submit button to send mails to registered candidates for access code</p>

<%- include('partials/footer') %>